Domain –Banking Marketing

Focus –Optimization

Business challenge/requirement

Bank of Portugal runs a marketing campaign to offer loans to clients.  The loan is offered to only clients in selective  professions. List of successful campaigns (with client data) is given in attached dataset.  You mustcome up with a program which readsthe file and builds a set of unique profession list. Based on the given input professions  of the client, system tells whether the client is eligible to be approached for the marketing campaign.Key issues Tele Caller can only make x number of cold calls in a day. Hence to increase her effectiveness only eligible customers should be contacted. Considerations Current system does not differentiate clients based on age and profession

Data volume447 records in bank-data.csv

Additional information-NA

Business benefits

Company can achieve between 15% to 20% higher conversion by targeting right clients

Approach to Solve

Read file bank-data.csv2.

Build a set of unique jobs3.
Read the input from command line –profession

4.Check if professionis in list

5.Print whetherclient is eligible


Enhancements for code

You can try these enhancements in code1.Compute max and min age for loan eligibility based on data in csv file

2.Store max and min age in dictionary

3.Make the profession check case insensitive 

4.Currently program ends after the check. 

Take the input in whileloop and end only if user types "END" for profession

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('dataset/bank-data.csv')

In [3]:
dataset

     age            job  marital    y
0     20        student   single  yes
1     32     management   single  yes
2     49     technician  married  yes
3     32    blue-collar  married  yes
4     33     management  married  yes
..   ...            ...      ...  ...
442   26     technician   single  yes
443   60  self-employed  married  yes
444   42    blue-collar   single  yes
445   32         admin.   single  yes
446   46    blue-collar  married  yes

[447 rows x 4 columns]

In [4]:
dataset.describe()

              age
count  447.000000
mean    39.413870
std     10.038539
min     19.000000
25%     32.000000
50%     37.000000
75%     47.000000
max     80.000000

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      447 non-null    int64
 1   job      447 non-null    object
 2   marital  447 non-null    object
 3   y        447 non-null    object
dtypes: int64(1), object(3)
memory usage: 14.1+ KB

In [6]:
profession =dataset['job']

In [7]:
set_prof = set(profession)

In [8]:
set_prof

{'admin.',
 'blue-collar',
 'entrepreneur',
 'housemaid',
 'management',
 'self-employed',
 'services',
 'student',
 'technician'}

In [18]:
client_profession =""
while (client_profession!="end"):
    max_age=0
    min_age=0
    client_profession = input("enter the profession here:")
    client_profession = client_profession.lower()
    if (client_profession in set_prof):
        print("eligible for loan")
        dataset = pd.read_csv('dataset/bank-data.csv')
        data =dataset[dataset['job']==client_profession]
        max_age=max(data['age'])
        min_age=min(data['age'])
        print("eligible age for the profession {} is between {} and {}".format(client_profession,max_age,min_age))
    else:
        print("not eligible for loan")

enter the profession here:student
eligible for loan
eligible age for the profession student is between 28 and 19
enter the profession here:admin.
eligible for loan
eligible age for the profession admin. is between 61 and 25
enter the profession here:end
not eligible for loan