Domain –E-Commerce

Focus –Optimization

Business challenge/requirement

GoodsKart—largest e-commerce company of Indonesia, with revenue of $2B+ has acquired another e-commerce company FairDeal.  FairDeal has its own IT system to maintain the records of customers, sales etc. For ease of maintenance and cost savings, GoodsKart is integrating customer databases of both the organizations hence customer data of FairDeal must be converted in GoodsKart customer data format.Key issuesGoodsKart customer data has more fields than in FairDeal customer data. Hence FairDeal data needs to be split and stored in GoodsKart Customer Object-Oriented Data Structure.

Considerations

System should convert the data at run time

Data volume-NA

Additional information-NA

Business benefits

GoodsKart can eventually restructure IT systems of FairDealand reduce itscost by 20-30% Approach to SolveYou mustuse fundamentals of Python taught in module 3.  

1.Read FairDealCustomerData.csv

2.Name field contains full name –use regular expression to separate title, first name, last name

3.Store the data in Customer Class

4.Create Custom Exception –CustomerNotAllowedException

5.Pass a customer to function "createOrder" and throw CustomerNotAllowedException in case of blacklisted value is 1Enhancements for codeYou can try these enhancements in code

1.Change function createOrder to take productname and product code as input

2.Create Class OrderReturn object of type Order in case customer is eligible

In [1]:
import pandas as pd

In [14]:
columns_list = ['location','Name','Order']

In [15]:
dataset =pd.read_csv('dataset/FairDealCustomerData.csv',names =columns_list)

In [16]:
dataset

       location                   Name  Order
0        Braund       Mr. Owen Harris       1
1     Heikkinen           Miss. Laina       0
2         Allen     Mr. William Henry       0
3         Moran             Mr. James       0
4      McCarthy         Mr. Timothy J       0
..          ...                    ...    ...
527    Banfield   Mr. Frederick James       0
528    Sutehall          Mr. Henry Jr       0
529    Montvila           Rev. Juozas       0
530        Behr       Mr. Karl Howell       0
531      Dooley           Mr. Patrick       0

[532 rows x 3 columns]

In [21]:
tup = dataset.Name.str.split(" ")